/* Variables */
:root {
    --black : #161616;
    --red: rgb(206, 7, 7);
    --shadow: var(--red);
}
body{
     background-image: url("main.jpg");
     /* background-image: url("assets/navbar.jpg"); */
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}
/* .empty-top{
    width: 100%;
    height: 20px;
    background-color: cyan;
} */
/* .empty-bottom{
    width: 100%;
    height: 100px;
    background-color: cyan;
} */
.empty-left {
    width: 100%;
    height: 75px;
    background-color: hotpink;
}

/* Class */

/* Heading */
.header {
    position: sticky;
    top:0;
    z-index: 1;
}
.top-nav {
    background-color: var(--black);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top:0;
}
/* left heading*/
.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.brand {
    color:rgb(206, 7, 7);
    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;
    width: 150px;
    padding-left: 10%;
    margin-top: 10px;
}
.fav {
    display: flex;
    color:rgb(206, 7, 7);
    font-size: 18px;
    margin-left: 30px;
    padding-top: 20px;
}
.fav-logo {
    padding-top: 5px;
}
/* Right heading */
.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-box{
    color:rgb(206, 7, 7);
    margin: 20px;
}
.search{
    width: 80%;
    border-radius: 25px;
    padding: 5px 10px;
}
.user{
    justify-content: flex-end;
    padding: 10px;
}
.profile-pic{
    border-radius: 50%;
}


/* Middle Content */
.body{
    width: 100%;
    height:550px;
    border-top: 70px outset cyan;
    display: flex;
    z-index: 3;
}
.content {
	display: inline-block;
    height: 100vh;
} 
/* Main */
.main{
    flex:10;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.main::-webkit-scrollbar{
    display: none;
}
.carousel {
    position: center;
    margin-top: 15px;
    margin-left: 20%;
    margin-bottom: 50px;
}
#slider {
    width: 45%;
    min-width: 200px;
    height: 40vh;
    perspective: 1200px;
    transform-style: preserve-3d;
}
#slider label, #slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 400ms ease;
}
input[type=radio] {
    display: none;
}
/* Carousel */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5, 
#s6:checked ~ #slide6{
   box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
   transform: translate3d(0%, 0, 0px);
 } 
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide1 {
   box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
   transform: translate3d(20%, 0, -50px);
 }
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide6,
#s5:checked ~ #slide1,
#s6:checked ~ #slide2 {
   box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
   transform: translate3d(40%, 0, -200px);
 }
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide6,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2
#s6:checked ~ #slide3 {
   box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
   transform: translate3d(60%, 0, -350px);
 }
#s1:checked ~ #slide5,
#s2:checked ~ #slide6,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4 {
   box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
   transform: translate3d(-40%, 0, -200px);
 }
#s1:checked ~ #slide6,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5 {
   box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
   transform: translate3d(-20%, 0, -50px);
 }

/* Album */
.title {
    margin-left: 4%;
    color: cornsilk;
}
.albums-content {
    display: flex;
    flex-direction: row;
    overflow:scroll;
    margin-left: 4%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}
.albums-content::-webkit-scrollbar{
    display: none;
}
.album-item-pic {
    width: 120px;
    height: 120px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.album-item-name {
    max-width: 70%;
    color: antiquewhite;
    font-size: 17px;
    font-weight: 500;
    overflow-wrap: break-word;
    text-align: center;
}
/* Latest Releases */
.latest-releases {
    margin-bottom: 30px;
}
.releases {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 15px;
    margin-left: 4%;
}
.release-item {
    display: flex;
    width: auto;
    margin: 3px;
    padding: 12px;
    border-radius: 10px;
}
.release-item-pic {
    width: 70px;
    height: 70px;
}
.release-item-name {
    padding-left : 15px;
}
.release-song-name {
    width: 250px;
    font-size: 18px;
    color: antiquewhite;
    margin-bottom: 0;
}
.release-artist-name {
    font-size: 16px;
    color: rgb(177, 173, 173);
    margin-top: 0;
}
.release-item i {
    font-size: 20px;
    justify-content: flex-end;
    padding-right: 5px;
    color: antiquewhite;
}
.release-item-option {
    position: relative;
}
.release-option-popup {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background: #161616;
    color: antiquewhite;
    font-size: 15px;
    width: 180px;
    border-radius: 4px;
}
.release-option-popup-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-top: 10px;
}
.release-option-popup-item {
    display: flex;
    justify-content: flex-start;
}
input[type="checkbox"] {
  display: none;
}
#release-option-1[type="checkbox"]:checked ~ #release-popup-card-1 {
  display: block;
  z-index: 2;
}
#release-option-2[type="checkbox"]:checked ~ #release-popup-card-2 {
  display: block;
  z-index: 1;
}
#release-option-3[type="checkbox"]:checked ~ #release-popup-card-3 {
  display: block;
  z-index: 1;
}
#release-option-4[type="checkbox"]:checked ~ #release-popup-card-4 {
  display: block;
  z-index: 1;
}
#release-option-5[type="checkbox"]:checked ~ #release-popup-card-5 {
  display: block;
  z-index: 1;
}
#release-option-6[type="checkbox"]:checked ~ #release-popup-card-6 {
  display: block;
  z-index: 1;
}
/* Artist */
.artists-content {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    overflow:scroll;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}
.artists-content::-webkit-scrollbar{
    display: none;
}
.artist-item-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:11px;
    margin-right: 40px;
}
.artist-item-name {
    color: antiquewhite;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-right: 30px;
}
/* Genre */
.genre {
    padding-top: 50px;
    padding-bottom: 30px;
}
.genre-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}
.genre-item {
    justify-self: center;
    position: relative;
    overflow: hidden;
}
.genre-pic{
    width: 20vw;
    height: 14vw;
    overflow:hidden;
}
.genre-name {
    font-size: 2vw;
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





/* Side */
.side {
    background-color: #16161671;
    flex: 5;
    height: 480px;
    overflow: scroll;
}
.side::-webkit-scrollbar{
    display: none;
}
.side-nav {
    background-color: #161616;
    color:var(--red);
    width: 34%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.side-left{
    font-size: 50px;
    font-weight: 500;
    margin-left: 10px;
    justify-content: flex-start;    
}
.side-right{
    font-size: 20px;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 10px;
}

.song {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding-bottom: 10px;
}
.side-song {
    display: flex;
    justify-content: flex-start;
}
.side-poster {
    width: 60px;
    height: 70px;
    margin-left: 15px;
    margin-top: 10px;
}
.side-song-name{
    color: cornsilk;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
}
.side-artist-name {
    color: grey;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 0;
}
.side-more {
    color: var(--red);
    margin-top: 15px;
    justify-content: flex-end;
}
.side-more-option {
    font-size: 18px;
    padding-right: 10px;
}





/* Player */
.player-nav {
    background-color: #161616;
    /* background-image: url("assets/footer.jpg"); */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    position: fixed;
    bottom: 0;
    color:rgb(206, 7, 7);
}
.song-info {
    display: flex;
    justify-content: flex-start;
    margin: 10px 15px;
}
.song-pic {
    border-style: outset;
    border-color:var(--red);
    border-width: 2px;
}
.like {
    font-size: 18px;
    padding-top: 7px;
    margin-left: 20px;
}
.player {
    justify-content: center;
    margin: 2%;
    opacity: 0.7;
}
.more {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    padding: 10px;
}
.more-option {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 15px;
}
.slider {
    height: 3px;   
    outline: none;
    margin-top: 18px;
    margin-left: 5px;
    width: 50%;
    filter: saturate(0%);
}



/* Hover */
.pic-glow:hover{
    box-shadow: 0 0 7px var(--shadow);
    cursor: pointer;
}
.glow:hover{
    text-shadow: 0 0 5px var(--shadow);
    cursor: pointer;
}
.song:hover {
    background-color: #16161683;
    transition-duration: 0.7s;
}
.song-ul:hover {
    text-decoration: underline;
    cursor: pointer;
}
.release-item:hover {
    background-color: #16161683;
    transition-duration: 0.7s;
}
.release-item:hover img{
    cursor: pointer;
    border-style: outset;
    border-color: transparent;
    border-width: 2px;
}
.artist-ul:hover {
    text-decoration: underline;
    cursor: pointer;
}
.side-poster:hover {
    cursor:pointer;
    border-style: outset;
    border-color: transparent;
    border-width: 0.5px;
}
.song-glow:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    box-shadow: 0 0 10px var(--shadow);
    cursor: pointer;
}
.genre-item:hover img{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.6s all ease-in-out;
}
.genre-item:hover p{
    text-shadow: 0 0 5px #ffffff;
}
.player:hover {
    opacity: 0.9;
}

/* Media Query */
@media only screen and (max-width: 1000px) {
  .side {
      display: none;
  }
}

@media only screen and (max-width: 800px) {
    .fav p{
        display: none;
    }
    .fav i{
        padding-bottom:20px;
    }
    .player {
        display: none;
    }
}
    